<!DOCTYPE html>
<html>
<head>
  <title><%= car.name %></title>
</head>
<body>
  <h1><%= car.name %> - <%= car.brand %></h1>
  <p><strong>Year:</strong> <%= car.year %></p>
  <p><strong>Price:</strong> <%= car.price %></p>
  <p><strong>Description:</strong> <%= car.description %></p>
  <a href="/cars">Back</a>
</body>
</html>
